.vista[name="solicitar"] .button {
  background-color: #E1F4DB !important;
  color: #30312D !important;
  margin: 40px 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }

/*# sourceMappingURL=solicitar.css.map */
