@import 'variables.scss';
input:not([type])+label:after, input[type=text]:not(:focus)+label:after, input[type=password]:not(:focus)+label:after, input[type=email]:not(:focus)+label:after, input[type=url]:not(:focus)+label:after, input[type=time]:not(:focus)+label:after, input[type=date]:not(:focus)+label:after, input[type=datetime]:not(:focus)+label:after, input[type=datetime-local]:not(:focus)+label:after, input[type=tel]:not(:focus)+label:after, input[type=number]:not(:focus)+label:after, input[type=search]:not(:focus)+label:after, textarea.materialize-textarea+label:after {
    top: 38px !important;
}
.title img{
	width: 80px;
}
.platform-android{
	nav .brand-logo{
		font-size: 1.7rem;
	}
	nav .back{
		height: 100%;
		width: 56px;
		i{
			font-size: 2rem;
			margin-left: -11px;
			margin-top: 11px;
		}
		& ~ .brand-logo{
			margin-left: 50px;
		}
	}
	/* valid color */
	.input-field input.valid {
		 border-bottom: 1px solid $azulOscuro !important;
		 box-shadow: 0 1px 0 0 $azulOscuro !important;
	}
	/* invalid color */
	.input-field input.invalid {
		 border-bottom: 1px solid $rosado !important;
		 box-shadow: 0 1px 0 0 $rosado !important;
	}
}
.icon-back, .icon-close{
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	position: absolute;
	top: 0px;
    left: 0px;
    padding: 20px;
    font-size: 20px;
	&.show{
		opacity: 1;
	}
}
.icon-close{
	left: auto;
	right: 0px;
	font-size: 50px;
    padding-top: 6px;
}
.vista{
	overflow-y: auto;
	& > header{
		h2{
		    font-size: 22px;
		    margin-left: 60px;
		    margin-top: 18px;
		    font-weight: 500;
		    opacity: 0.7;
		}
	}
}
.vista form{
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
	transition: height 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	.input-field{
		width: 80%;
		input:focus + label, input.valid + label  {
			color: $negro !important;
		}
		input:focus{
			border-bottom: 1px solid $negro !important;
			box-shadow: 0 1px 0 0 $negro !important;
			color: $negro;
		}
	}
}
@media (max-height: 600px) {
	.vista header h2{
		font-size: 18px;
	    margin-top: 20px;
	}
	.vista .title{
		width: 100%;
		img{
			width: 40px;
		}
	}
}