@import '../../../common/scss/variables.scss';
.vista[name="aviso"]{
	header h2{
		margin-left: 20px !important;
		margin-right: 60px !important;
	}
	#main{
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    height: calc(100% - 102px);
	    padding: 0 40px;
		.icon{
			width: 100px;
			height: 100px;
			fill: $azulOscuro;
			margin-bottom: 40px;
		}
		p{
			font-size: 18px;
		    font-weight: 300;
		    text-align: center;
		}
	}
}