.vista[name="ofrecer"] .button {
  background-color: #050E17 !important;
  color: #BCE5E1 !important;
  margin: 40px 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }

/*# sourceMappingURL=ofrecer.css.map */
