input:not([type]) + label:after, input[type=text]:not(:focus) + label:after, input[type=password]:not(:focus) + label:after, input[type=email]:not(:focus) + label:after, input[type=url]:not(:focus) + label:after, input[type=time]:not(:focus) + label:after, input[type=date]:not(:focus) + label:after, input[type=datetime]:not(:focus) + label:after, input[type=datetime-local]:not(:focus) + label:after, input[type=tel]:not(:focus) + label:after, input[type=number]:not(:focus) + label:after, input[type=search]:not(:focus) + label:after, textarea.materialize-textarea + label:after {
  top: 38px !important; }

.title img {
  width: 80px; }

.platform-android {
  /* valid color */
  /* invalid color */ }
  .platform-android nav .brand-logo {
    font-size: 1.7rem; }
  .platform-android nav .back {
    height: 100%;
    width: 56px; }
    .platform-android nav .back i {
      font-size: 2rem;
      margin-left: -11px;
      margin-top: 11px; }
    .platform-android nav .back ~ .brand-logo {
      margin-left: 50px; }
  .platform-android .input-field input.valid {
    border-bottom: 1px solid #050E17 !important;
    box-shadow: 0 1px 0 0 #050E17 !important; }
  .platform-android .input-field input.invalid {
    border-bottom: 1px solid #FDE2D9 !important;
    box-shadow: 0 1px 0 0 #FDE2D9 !important; }

.icon-back, .icon-close {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  font-size: 20px; }
  .icon-back.show, .icon-close.show {
    opacity: 1; }

.icon-close {
  left: auto;
  right: 0px;
  font-size: 50px;
  padding-top: 6px; }

.vista {
  overflow-y: auto; }
  .vista > header h2 {
    font-size: 22px;
    margin-left: 60px;
    margin-top: 18px;
    font-weight: 500;
    opacity: 0.7; }

.vista form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  .vista form .input-field {
    width: 80%; }
    .vista form .input-field input:focus + label, .vista form .input-field input.valid + label {
      color: #30312D !important; }
    .vista form .input-field input:focus {
      border-bottom: 1px solid #30312D !important;
      box-shadow: 0 1px 0 0 #30312D !important;
      color: #30312D; }

@media (max-height: 600px) {
  .vista header h2 {
    font-size: 18px;
    margin-top: 20px; }

  .vista .title {
    width: 100%; }
    .vista .title img {
      width: 40px; } }

/*# sourceMappingURL=style.css.map */
