.vista[name="home"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .vista[name="home"] .button {
    color: #30312D !important;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  .vista[name="home"] .title {
    font-weight: 300;
    color: #30312D;
    font-size: 29px;
    position: absolute;
    top: 20px;
    text-align: center !important;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="home"] .title img {
      width: 80px;
      vertical-align: middle; }
  .vista[name="home"] h2 {
    font-size: 18px;
    font-weight: 200; }
  .vista[name="home"] #buttons {
    display: flex;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="home"] #buttons .button {
      margin-top: 40px;
      background-color: #E1F4DB !important; }
    .vista[name="home"] #buttons #ofrecer {
      background-color: #050E17 !important;
      color: #BCE5E1 !important; }
  .vista[name="home"] #btnAbout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 0px 10px;
    background-color: transparent; }
  .vista[name="home"] #about {
    width: 180px;
    height: 80px;
    overflow: hidden;
    opacity: 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    background-color: #f8f8f8;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="home"] #about.show {
      opacity: 1;
      width: 100%;
      height: 100%;
      left: 0; }
      .vista[name="home"] #about.show > * {
        opacity: 1; }
    .vista[name="home"] #about > * {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    .vista[name="home"] #about i.ion-android-close {
      position: absolute;
      padding: 10px 20px;
      top: 0;
      right: 0;
      font-size: 40px; }
      .vista[name="home"] #about i.ion-android-close + p {
        margin-top: 40px; }
    .vista[name="home"] #about a {
      text-decoration: none; }
      .vista[name="home"] #about a svg {
        width: 80px;
        height: 80px;
        padding: 20px;
        margin-top: 20px; }
      .vista[name="home"] #about a.facebook svg {
        fill: #3f66b5; }
      .vista[name="home"] #about a.instagram svg {
        fill: gray; }
    .vista[name="home"] #about .social {
      position: relative;
      margin: 20px 0; }
      .vista[name="home"] #about .social span {
        position: absolute;
        text-align: center;
        display: block;
        width: 100%;
        opacity: 0.7; }
    .vista[name="home"] #about p {
      font-size: 17px; }
    .vista[name="home"] #about button {
      background-color: #FDE2D9 !important;
      position: absolute;
      bottom: 40px; }

@media (max-height: 600px) {
  .vista[name="home"] .title {
    width: 100%; }
    .vista[name="home"] .title img {
      width: 40px; } }

/*# sourceMappingURL=home.css.map */
