@import '../../../common/scss/variables.scss';

.vista[name="home"]{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;

	.button{
		color: $negro !important;
		transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	}
	.title{
		font-weight: 300;
		color: $negro;
		font-size: 29px;
		position: absolute;
		top: 20px;
		text-align: center !important;
	    transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	    img{
	    	width: 80px;
	    	vertical-align: middle;
	    }
	}
	h2{
		font-size: 18px;
	    font-weight: 200;
	}
	#buttons{
		display: flex;
		flex-direction: column;
		transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
		.button{
			margin-top: 40px;
			background-color: $verde !important;
		}
		#ofrecer{
		    background-color: $azulOscuro !important;
		    color: $azul !important;
		}
	}
	.platform-android{

	}
	#btnAbout{
		position: absolute;
	    bottom: 20px;
	    left: 20px;
	    padding: 0px 10px;
	    background-color: transparent;
	}
	#about{
		width: 180px;
	    height: 80px;
	    overflow: hidden;
	    opacity: 0;
		padding: 20px;
		position: absolute;
		bottom: 0;
		left: -200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 9;
		background-color: #f8f8f8;
		transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
		&.show{
			opacity: 1;
			width: 100%;
			height: 100%;
			left: 0;
			& > * {
				opacity: 1;
			}
		}
		& > *{
			opacity: 0;
			transition: opacity 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
			//transition-delay: 0.6s;
		}
		i.ion-android-close{
			position: absolute;
			padding: 10px 20px;
			top: 0;
			right: 0;
			font-size: 40px;
			& + p{
				margin-top: 40px;
			}
		}
		a{
			text-decoration: none;
			svg{
				width: 80px;
			    height: 80px;
			    padding: 20px;
			    margin-top: 20px;
			}
			&.facebook svg{
				fill: #3f66b5;
			}
			&.instagram svg{
				fill: gray;
			}
		}
		.social{
			position: relative;
			margin: 20px 0;
			span{
				position: absolute;
			    text-align: center;
			    display: block;
			    width: 100%;
			    opacity: 0.7;
			}
		}
		p{
			font-size: 17px;
		}
		button{
			background-color: $rosado !important;
			position: absolute;
    		bottom: 40px;
		}
	}
}
@media (max-height: 600px) {
	.vista[name="home"] .title{
		width: 100%;
		img{
			width: 40px;
		}
	}
}