<!DOCTYPE html>
<html ng-app="starter" ng-controller="appCtrl" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">

        <link href="common/css/style.css" rel="stylesheet">
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <script src="js/plugin.js"></script>
        <script src="js/ng-cordova.min.js"></script>
        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="lib/jquery/jquery-3.1.0.min.js"></script>

        <script type="text/javascript" src="components/home/ctrls/homeCtrl.js"></script>
        <script type="text/javascript" src="components/servicios/ctrls/serviciosCtrl.js"></script>
        <script type="text/javascript" src="components/solicitar/ctrls/solicitarCtrl.js"></script>
        <script type="text/javascript" src="components/ofrecer/ctrls/ofrecerCtrl.js"></script>
        <script type="text/javascript" src="components/aviso/ctrls/avisoCtrl.js"></script>




        <!-- Compiled and minified CSS -->
        <link ng-if="platform.isAndroid()" rel="stylesheet" href="lib/materialize/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script  ng-if="platform.isAndroid()" src="lib/materialize/materialize.min.js"></script>
        <link rel="stylesheet" href="components/home/css/home.css">
        <link rel="stylesheet" href="components/solicitar/css/solicitar.css">
        <link rel="stylesheet" href="components/ofrecer/css/ofrecer.css">
        <link rel="stylesheet" href="components/servicios/css/servicios.css">
        <link rel="stylesheet" href="components/aviso/css/aviso.css">
    </head>
    <body>
        <ion-pane>
            <ion-nav-view></ion-nav-view>
        </ion-pane>
    </body>
</html>
