@import '../../../common/scss/variables.scss';
.vista[name="solicitar"] .button{
	background-color: $verde !important;
	color: $negro !important;
	margin: 40px 0;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}