@import '../../../common/scss/variables.scss';
.vista[name="ofrecer"]{
	.button{
		background-color: $azulOscuro !important;
		color: $azul !important;
		margin: 40px 0;
		transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	}
}