<ion-view class="vista" name="ofrecer">
	<header>   
        <i class="icon-back ion-ios-arrow-left show" on-tap="back($event)"></i>
        <h2>Necesitamos algunos datos</h2>
    </header>
    <form class="ofrecer" name="ofrecerForm" novalidate>
        <div class="input-field">
            <input id="ofrecerNombre" name="ofrecerNombre" ng-class="{validate: true, invalid: ofrecerForm.ofrecerNombre.$error.required && ofrecerForm.$submitted}" type="text" ng-model="data.nombre" required>
            <label for="ofrecerNombre" data-error="Campo requerido" data-success="">Nombre</label>
        </div>
        <div class="input-field">
            <input id="ofrecerApellidos" name="ofrecerApellidos" ng-class="{validate: true, invalid: ofrecerForm.ofrecerApellidos.$error.required && ofrecerForm.$submitted}" type="text" ng-model="data.apellidos" required>
            <label for="ofrecerApellidos" data-error="Campo requerido" data-success="">Apellidos</label>
        </div>
        <div class="input-field">
            <input id="ofrecerPhone" name="ofrecerPhone" ng-class="{validate: true, invalid: ofrecerForm.ofrecerPhone.$error.required && ofrecerForm.$submitted}" type="number" ng-model="data.celular" required>
            <label for="ofrecerPhone" data-error="Campo requerido" data-success="">Numero de telefono</label>
        </div>
        <div class="input-field">
            <input id="ofrecerCiudad" name="ofrecerCiudad" ng-class="{validate: true, invalid: ofrecerForm.ofrecerCiudad.$error.required && ofrecerForm.$submitted}" type="text" ng-model="data.ciudad" required>
            <label for="ofrecerCiudad" data-error="Campo requerido" data-success="">Ciudad</label>
        </div>
        <div class="input-field">
            <input id="ofrecerCorreo" name="ofrecerCorreo" type="email" ng-class="{validate: true, invalid: ofrecerForm.ofrecerCorreo.$error.required && ofrecerForm.$submitted}" ng-model="data.correo" required>
            <label for="ofrecerCorreo" data-error="Campo requerido" data-success="">Correo</label>
        </div>
        <div class="input-field">
            <input id="ofrecerGenero" name="ofrecerGenero" type="text" ng-class="{validate: true, invalid: ofrecerForm.ofrecerGenero.$error.required && ofrecerForm.$submitted}" ng-model="data.genero" required>
            <label for="ofrecerGenero" data-error="Campo requerido" data-success="">Genero</label>
        </div>
        <div class="input-field">
            <input id="ofrecerExperiencia" name="ofrecerExperiencia" ng-class="{validate: true, invalid: ofrecerForm.ofrecerExperiencia.$error.required && ofrecerForm.$submitted}" type="text" ng-model="data.experiencia" required>
            <label for="ofrecerExperiencia" data-error="Campo requerido" data-success="">Experiencia</label>
        </div>
        <div class="input-field">
            <input id="ofrecerServicio" name="ofrecerServicio" ng-class="{validate: true, invalid: ofrecerForm.ofrecerServicio.$error.required && ofrecerForm.$submitted}" type="text" ng-model="data.servicio" required>
            <label for="ofrecerServicio" data-error="Campo requerido" data-success="">Servicio a ofrecer</label>
        </div>
        <button id="ofrecer" on-tap="ofrecer($event)" class="button waves-effect waves-light btn">Ofrecer</button>
    </form>
</ion-view>
