<ion-view class="vista" name="servicios">
	<header>
		<i class="icon-back ion-ios-arrow-left show" on-tap="back($event)"></i>
		<h2>¿Que necesitas?</h2>
	</header>
	<div id="servicios">
		<div class="servicio waves-effect waves-light" data-name="Fontanero" on-tap="goSolicitar($event)">
			<span>Fontanero</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Electricista" on-tap="goSolicitar($event)">
			<span>Electricista</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Tecnico Refrigeracion" on-tap="goSolicitar($event)">
			<span>Tecnico</span>
			<span>Refrigeracion</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Ninera" on-tap="goSolicitar($event)">
			<span>Niñera</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Jardinero" on-tap="goSolicitar($event)">
			<span>Jardinero</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Docente de area" on-tap="goSolicitar($event)">
			<span>Docente</span>
			<span>de Area</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Aseador o cocinero" on-tap="goSolicitar($event)">
			<span>Aseador</span>
			<span>Ó cocinero</span>
		</div>
		<div class="servicio waves-effect waves-light" data-name="Tecnico Computacion" on-tap="goSolicitar($event)">
			<span>Tecnico</span>
			<span>Computacion</span>
		</div>
	</div>
</ion-view>