<ion-view class="vista" name="solicitar">
	<header>	
		<i class="icon-back ion-ios-arrow-left show" on-tap="back($event)"></i>
		<h2>Necesitamos algunos datos</h2>
	</header>
	<form class="solicitar" name="solicitarForm" novalidate >
		<div class="input-field">
			<input id="solicitarNombre" name="solicitarNombre" ng-class="{validate: true, invalid: solicitarForm.solicitarNombre.$error.required && solicitarForm.$submitted}" type="text" ng-model="data.nombre" required>
			<label for="solicitarNombre" data-error="Campo requerido" data-success="">Nombre</label>
	    </div>
	    <div class="input-field">
			<input id="solicitarApellidos" name="solicitarApellidos" ng-class="{validate: true, invalid: solicitarForm.solicitarApellidos.$error.required && solicitarForm.$submitted}" type="text" ng-model="data.apellidos" required>
			<label for="solicitarApellidos" data-error="Campo requerido" data-success="">Apellidos</label>
	    </div>
		<div class="input-field">
			<input id="solicitarPhone" name="solicitarPhone" ng-class="{validate: true, invalid: solicitarForm.solicitarPhone.$error.required && solicitarForm.$submitted}" type="number" ng-model="data.celular" required>
			<label for="solicitarPhone" data-error="Campo requerido" data-success="">Numero de telefono</label>
	    </div>
	    <div class="input-field">
			<input id="solicitarCiudad" name="solicitarCiudad" ng-class="{validate: true, invalid: solicitarForm.solicitarCiudad.$error.required && solicitarForm.$submitted}" type="text" ng-model="data.ciudad" required>
			<label for="solicitarCiudad" data-error="Campo requerido" data-success="">Ciudad</label>
	    </div>
		<button id="solicitar" on-tap="solicitar($event)" class="button waves-effect waves-light btn">Solicitar</button>
	</form>
</ion-view>