.vista[name="servicios"]{
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
$fondos: '../../../img/plomero.jpg' '../../../img/electricista.jpg' '../../../img/refrigeracion.jpg' '../../../img/ninera.jpg'  '../../../img/jardinero.jpg' '../../../img/docente.jpg' '../../../img/cocinero.jpg' '../../../img/computacion.jpg';
.vista[name="servicios"] #servicios{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.servicio{
		width: calc(50% - 1px);
	    height: calc(45vw - 1px);
	    display: flex;
    	justify-content: flex-end;
    	flex-direction: column;
	    margin-bottom: 1px;
		background-size: cover;
		background-position: center;
		$i: 1;
		@while $i < 9{
			&:nth-child(#{$i}){
				background-image: url(nth($fondos, $i));
			}
			$i: $i + 1;
		} 
		span{
			display: block;
		    padding: 10px;
		    font-size: 18px;
		    color: white;
		    font-weight: 400;
		    &:nth-child(2){
		    	font-size: 14px;
		    	font-weight: 300;
		    	padding-top: 0;
    			margin-top: -8px;
		    }
		}
	}
}