.vista[name="servicios"] {
  height: 100%;
  width: 100%;
  overflow-y: auto; }

.vista[name="servicios"] #servicios {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .vista[name="servicios"] #servicios .servicio {
    width: calc(50% - 1px);
    height: calc(45vw - 1px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 1px;
    background-size: cover;
    background-position: center; }
    .vista[name="servicios"] #servicios .servicio:nth-child(1) {
      background-image: url("../../../img/plomero.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(2) {
      background-image: url("../../../img/electricista.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(3) {
      background-image: url("../../../img/refrigeracion.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(4) {
      background-image: url("../../../img/ninera.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(5) {
      background-image: url("../../../img/jardinero.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(6) {
      background-image: url("../../../img/docente.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(7) {
      background-image: url("../../../img/cocinero.jpg"); }
    .vista[name="servicios"] #servicios .servicio:nth-child(8) {
      background-image: url("../../../img/computacion.jpg"); }
    .vista[name="servicios"] #servicios .servicio span {
      display: block;
      padding: 10px;
      font-size: 18px;
      color: white;
      font-weight: 400; }
      .vista[name="servicios"] #servicios .servicio span:nth-child(2) {
        font-size: 14px;
        font-weight: 300;
        padding-top: 0;
        margin-top: -8px; }

/*# sourceMappingURL=servicios.css.map */
